.Content {
  min-height: 100vh;
  margin: 0 auto;
  margin-top: 6.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: initial;
}

.botaoScrollUp{
  height: 44px;
  width: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  position: fixed;
  right: 30px;
  bottom: 6.2rem;
  border: 3px solid var(--btn-Scroll-Top);
  background-color: var(--btn-Scroll-Top);
}

.botaoScrollUp img{
  height: 44px;
  width: 44px;
}