.streamers {
  margin-bottom: 5rem;
  width: 100%;
  display: grid;
  grid-template-areas: 
  "diana diana alan alan jovirone"
  "diana diana alan alan jovirone"
  "diana diana casimiro nivi pato"
  ;
  grid-auto-rows: minmax(300px, 280px);
}

.image {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  position: relative;
}

@media (max-width: 30rem) {
  .streamers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 .7rem;
  }

  .image {
    min-height: 180px;
    min-width: 200px;
    border-radius: .3rem;
    background-position: top;
    overflow: hidden;
  }
}

@media (min-width: 30.1rem) and (max-width: 60rem) {
  .streamers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: none;
    gap: .7rem;
    justify-content: center;
    align-items: center;
    padding: 0 .5rem;
  }

  .image {
    height: 100%;
    width: 100%;
    border-radius: .3rem;
    background-position: top;
    overflow: hidden;
  }
}